@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.activeScale {

    transform: scale(1.5);

}

.activeX {

    transform: translateX(100dvw);


}

body {

    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0px;
    font-family: "Righteous";

}

* {

    box-sizing: border-box;

}

h1 {

    background: linear-gradient(to right, rgb(255, 255, 255), rgb(77, 91, 248));
    text-shadow: 0 7px 0 #0000006a;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    text-align: center;

    animation: 2s tremblement infinite;

}

#bloc {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90dvh;

}

#run {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    width: 100dvw;
    padding: 10px;

}


.button {

    text-decoration: none;
    color: white;
    font-size: 50px;
    font-weight: bold;
    transition: 1s;


}

.buttonRun {

    background: linear-gradient(to bottom, violet, purple);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 -9px 0 yellow;



}

.buttonRun:hover {

    transform: scale(1.4);

}


.buttonPokeball {

    background-color: transparent;
    outline: none;
    border: none;
    transition: 3s;
}



#pokeball {

    background-color: rgb(255, 254, 254);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: 2s linear rotation infinite;
    transition: 1s;


}

#pokeball:hover {

    background-color: rgb(252, 46, 46);


}



@keyframes tremblement {

    from {

        transform: translateY(0px);

    }


    50% {

        transform: translateY(20px);

    }


    to {

        transform: translateY(0px);

    }


}


@keyframes rotation {

    from {

        transform: rotate(0deg);

    }


    to {

        transform: rotate(360deg);

    }


}