@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../img/background-vitor.png);
    background-size: cover;
    background-repeat: no-repeat;

}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* PAGE DE CHOIX PERSO */


.opacity {

    opacity: 0;

}

.hidden {

    display: none !important;

}

.pokemonImg1.scale,
.pokemonImg2.scale {

    transform: scale(1);

}

.pokemonImg1.rotate {

    transform: scale(1) rotateY(180deg);

}

.vie.fullLife {

    width: 0%;

}

.messageP.messageSuccess {

    color: rgb(73, 255, 73);
    text-shadow: 0 0 10px rgb(73, 255, 73);

}

.messageP.inefficace {

    color: white;

}

.messageP.messageAlert {

    color: yellow;

}

.messageP.messageDefeat {

    color: red;

}

.pokemonImg1.persoAttack {

    animation: 0.5s persoAttack linear;

}

.pokemonImg1.persoCoup {


    animation: 0.2s persoCoup linear;


}

.pokemonImg2.adversAttack {

    animation: 0.5s adversAttack linear;

}


.pokemonImg2.adversCoup {


    animation: 0.2s adversCoup linear;


}

.grayscale {

    filter: grayscale(100%);

}


.menu {

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100dvw;
    min-height: 100dvh;
    gap: 50px;
    background-color: rgb(8, 3, 22);
    box-shadow: inset 0 0 20px 0 rgb(70, 83, 255);
    transition: 1s;
    z-index: 2;

}



.menu h1 {

    text-align: center;
    color: #ffc010;
    text-shadow: 5px 20px 20px blue;

}

#cards {

    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;


}

.card {

    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1abc9c56;
    padding: 30px 50px 30px 50px;
    box-shadow: inset 0px -20px 20px 0 #a0ffec56;
    border-radius: 20px;
    border: inset 4px rgb(200, 135, 235);
    transition: 0.2s;

}

.card:hover {

    border-color: rgb(97, 255, 5);
    transform: scale(1.2);
    box-shadow: inset 0px -20px 20px 0 #d9ff0056;

    img {

        transform: rotateX(360deg);
        filter: drop-shadow(0 0 18px rgb(117, 255, 117));
        transition: 0.2s;


    }

}

.card img {
    width: 150px;
    height: 150px;
    transition: 0.2s;
}

.card h5 {

    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: x-large;
    text-shadow: 3px 0px 0px black;
}



.card p {

    text-align: center;
    color: #ff0000;
    font-weight: bolder;
    font-size: large;
    text-shadow: 3px 0px 0px black;

}

/* PAGE DE COMBAT */

#blocStat {

    display: flex;
    justify-content: space-between;
    height: 100dvh;

}

.adversaire {

    display: flex;
    height: 200px;
    position: absolute;
    right: 0;
}


.player {

    margin: 5px;
    display: flex;

}

.joueur {

    display: flex;
    align-items: end;
    position: absolute;
    bottom: 10%;
    left: 10%;

}

.info {

    background-color: black;
    width: 200px;
    height: 100px;
    padding: 10px;
    border-radius: 20px;
    border: double skyblue;

}


.nameStat {

    color: white;
    text-align: center;
    transition: 2s;

}

.statut {

    color: white;
    text-align: center;
    transition: 2s;

}

.hpStat {

    color: white;
    text-align: center;
    transition: 2s;

}




.jauge {

    background-color: red;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    border: inset;

}

.jauge1 {

    display: flex;
    justify-content: end;

}

.vie {

    background-color: greenyellow;
    height: 100%;
    border-radius: 10px;
    transition: 1.5s;

}

.pokemonImg2 {

    width: 200px;
    height: 200px;
    justify-self: center;
}

.pokemonImg1 {

    width: 250px;
    height: 250px;

}

.pokemonImg1,
.pokemonImg2 {

    transform: scale(0) rotateY(0);
    transition: transform 1s, opacity 4s;


}



#message {

    width: 500px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.708);
    border-radius: 25px;
    border: dashed yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 250px);

}

.messageP {

    color: white;
    transition: opacity 2s;

}

#blocButton {

    margin: 20px;
    gap: 5px;
    display: flex;
    justify-content: space-between;
    width: 350px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    right: 0;
}

.attaque {


    min-height: 50px;
    padding: 0 20px;
    flex-grow: 1;
    flex-basis: calc(50% - 40px);
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.61);
    color: white;
    font-size: larger;
    font-weight: bolder;
    border: inset 2px red;
    box-shadow: inset 0 0 20px 0 red;
    text-shadow: 2px 0 0 black;
    transition: 0.2s;

}

.attaque:hover {

    background-color: yellow;
    color: red;
    transform: scale(1.1);

}


@keyframes persoAttack {

    from {

        transform: rotateY(180deg);
        filter: drop-shadow(0 0 18px rgb(255, 0, 0));
    }

    25% {

        transform: rotateY(180deg);
        filter: drop-shadow(0 0 18px rgb(255, 0, 0));
    }

    50% {

        transform: rotateY(180deg);
        filter: drop-shadow(0 0 18px rgb(255, 0, 0));

    }

    75% {

        transform: rotateY(180deg);
        filter: drop-shadow(0 0 18px rgb(255, 3, 3));
    }


    to {

        transform: rotateY(180deg) translateX(-50vw) translateY(-50vh);
        filter: drop-shadow(0 0 18px rgb(255, 1, 1));

    }


}

@keyframes persoCoup {

    from {

        transform: translateX(-20px) rotateY(180deg);
        filter: grayscale(100%);

    }

    25% {

        transform: translateX(20px) rotateY(180deg);
        filter: grayscale(100%);


    }

    50% {

        transform: translateX(-20px) rotateY(180deg);
        filter: grayscale(100%);


    }

    75% {

        transform: translateX(20px) rotateY(180deg);
        filter: grayscale(100%);


    }


    to {

        transform: translateX(-20px) rotateY(180deg);
        filter: grayscale(100%);


    }


}

@keyframes adversAttack {

    from {

        transform: translateX(0vw);
        filter: drop-shadow(0 0 18px rgb(255, 0, 0));
    }

    25% {
        transform: translateX(0vw);
        filter: drop-shadow(0 0 18px rgb(255, 0, 0));
    }

    50% {
        transform: translateX(0vw);
        filter: drop-shadow(0 0 18px rgb(255, 0, 0));

    }

    75% {
        transform: translateX(0vw);
        filter: drop-shadow(0 0 18px rgb(255, 3, 3));
    }


    to {

        transform: translateX(-50vw) translateY(50vh);
        filter: drop-shadow(0 0 18px rgb(255, 1, 1));

    }


}

@keyframes adversCoup {

    from {

        transform: translateX(-20px);
        filter: grayscale(100%);

    }

    25% {

        transform: translateX(20px);
        filter: grayscale(100%);


    }

    50% {

        transform: translateX(-20px);
        filter: grayscale(100%);


    }

    75% {

        transform: translateX(20px);
        filter: grayscale(100%);


    }


    to {

        transform: translateX(-20px);
        filter: grayscale(100%);


    }


}